resources:
- manager.yaml
- controller-namespace.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: quay.io/eclipse/che-operator:next
  newName: quay.io/eclipse/che-operator
  newTag: next
