#
# Copyright (c) 2019-2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
apiVersion: apps/v1
kind: Deployment
metadata:
  name: che-operator
  namespace: eclipse-che
  labels:
    app: che-operator
    app.kubernetes.io/name: che
    app.kubernetes.io/instance: che
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: che-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: che-operator
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: che-operator
        app.kubernetes.io/name: che
        app.kubernetes.io/instance: che
        app.kubernetes.io/part-of: che.eclipse.org
        app.kubernetes.io/component: che-operator
    spec:
      containers:
        - name: che-operator
          image: quay.io/eclipse/che-operator:7.63.0
          command:
            - /manager
          args:
            - --leader-elect
          imagePullPolicy: Always
          ports:
            - containerPort: 60000
              name: metrics
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: che-operator
            - name: CHE_VERSION
              value: 7.63.0
            - name: RELATED_IMAGE_che_server
              value: quay.io/eclipse/che-server:7.63.0
            - name: RELATED_IMAGE_dashboard
              value: quay.io/eclipse/che-dashboard:7.63.0
            - name: RELATED_IMAGE_plugin_registry
              value: quay.io/eclipse/che-plugin-registry:7.63.0
            - name: RELATED_IMAGE_devfile_registry
              value: quay.io/eclipse/che-devfile-registry:7.63.0
            - name: RELATED_IMAGE_che_tls_secrets_creation_job
              value: quay.io/eclipse/che-tls-secret-creator:alpine-01a4c34
            - name: RELATED_IMAGE_single_host_gateway
              value: quay.io/eclipse/che--traefik:v2.9.6-bb7be8d50edf73d8d3a812ac8873ef354a0fe9b40d7f3880747b43a3525855d2
            - name: RELATED_IMAGE_single_host_gateway_config_sidecar
              value: quay.io/che-incubator/configbump:0.1.4
            - name: RELATED_IMAGE_gateway_authentication_sidecar
              value: quay.io/openshift/origin-oauth-proxy:4.9
            - name: RELATED_IMAGE_gateway_authorization_sidecar
              value: quay.io/openshift/origin-kube-rbac-proxy:4.9
            - name: RELATED_IMAGE_gateway_authentication_sidecar_k8s
              value: quay.io/oauth2-proxy/oauth2-proxy:v7.4.0
            - name: RELATED_IMAGE_gateway_authorization_sidecar_k8s
              value: quay.io/brancz/kube-rbac-proxy:v0.13.1
            - name: RELATED_IMAGE_gateway_header_sidecar
              value: quay.io/che-incubator/header-rewrite-proxy:latest
            - name: CHE_FLAVOR
              value: che
            - name: CONSOLE_LINK_NAME
              value: che
            - name: CONSOLE_LINK_DISPLAY_NAME
              value: Eclipse Che
            - name: CONSOLE_LINK_SECTION
              value: Red Hat Applications
            - name: CONSOLE_LINK_IMAGE
              value: /dashboard/assets/branding/loader.svg
            - name: MAX_CONCURRENT_RECONCILES
              value: '1'
          livenessProbe:
            httpGet:
              path: /healthz
              port: 6789
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /readyz
              port: 6789
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 10
            successThreshold: 1
            timeoutSeconds: 5
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 64Mi
      hostIPC: false
      hostNetwork: false
      hostPID: false
      restartPolicy: Always
      serviceAccountName: che-operator
      terminationGracePeriodSeconds: 20
