#
# Copyright (c) 2019-2023 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: che-operator
    app.kubernetes.io/component: che-operator
    app.kubernetes.io/instance: che
    app.kubernetes.io/name: che
    app.kubernetes.io/part-of: che.eclipse.org
  name: che-operator
  namespace: eclipse-che
spec:
  replicas: 1
  selector:
    matchLabels:
      app: che-operator
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: che-operator
        app.kubernetes.io/component: che-operator
        app.kubernetes.io/instance: che
        app.kubernetes.io/name: che
        app.kubernetes.io/part-of: che.eclipse.org
    spec:
      containers:
      - args:
        - --leader-elect
        command:
        - /manager
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: che-operator
        - name: CHE_VERSION
          value: 7.76.0
        - name: RELATED_IMAGE_che_server
          value: quay.io/eclipse/che-server:7.76.0
        - name: RELATED_IMAGE_dashboard
          value: quay.io/eclipse/che-dashboard:7.76.0
        - name: RELATED_IMAGE_plugin_registry
          value: quay.io/eclipse/che-plugin-registry:7.76.0
        - name: RELATED_IMAGE_devfile_registry
          value: quay.io/eclipse/che-devfile-registry:7.76.0
        - name: RELATED_IMAGE_che_tls_secrets_creation_job
          value: quay.io/eclipse/che-tls-secret-creator:alpine-01a4c34
        - name: RELATED_IMAGE_single_host_gateway
          value: quay.io/eclipse/che--traefik:v2.9.6-bb7be8d50edf73d8d3a812ac8873ef354a0fe9b40d7f3880747b43a3525855d2
        - name: RELATED_IMAGE_single_host_gateway_config_sidecar
          value: quay.io/che-incubator/configbump:0.1.4
        - name: RELATED_IMAGE_gateway_authentication_sidecar
          value: quay.io/openshift/origin-oauth-proxy:4.9
        - name: RELATED_IMAGE_gateway_authorization_sidecar
          value: quay.io/openshift/origin-kube-rbac-proxy:4.9
        - name: RELATED_IMAGE_gateway_authentication_sidecar_k8s
          value: quay.io/oauth2-proxy/oauth2-proxy:v7.4.0
        - name: RELATED_IMAGE_gateway_authorization_sidecar_k8s
          value: quay.io/brancz/kube-rbac-proxy:v0.13.1
        - name: RELATED_IMAGE_gateway_header_sidecar
          value: quay.io/che-incubator/header-rewrite-proxy:latest
        - name: CHE_FLAVOR
          value: che
        - name: CONSOLE_LINK_NAME
          value: che
        - name: CONSOLE_LINK_DISPLAY_NAME
          value: Eclipse Che
        - name: CONSOLE_LINK_SECTION
          value: Red Hat Applications
        - name: CONSOLE_LINK_IMAGE
          value: /dashboard/assets/branding/loader.svg
        - name: MAX_CONCURRENT_RECONCILES
          value: "1"
        - name: CHE_DEFAULT_SPEC_COMPONENTS_DASHBOARD_HEADERMESSAGE_TEXT
          value: ""
        - name: CHE_DEFAULT_SPEC_DEVENVIRONMENTS_DEFAULTEDITOR
          value: che-incubator/che-code/latest
        - name: CHE_DEFAULT_SPEC_DEVENVIRONMENTS_DEFAULTCOMPONENTS
          value: '[{"name": "universal-developer-image", "container": {"image": "quay.io/devfile/universal-developer-image:ubi8-latest"}}]'
        - name: CHE_DEFAULT_SPEC_COMPONENTS_PLUGINREGISTRY_OPENVSXURL
          value: https://open-vsx.org
        - name: CHE_DEFAULT_SPEC_DEVENVIRONMENTS_DISABLECONTAINERBUILDCAPABILITIES
          value: "false"
        - name: CHE_DEFAULT_SPEC_DEVENVIRONMENTS_CONTAINERSECURITYCONTEXT
          value: '{"allowPrivilegeEscalation": true,"capabilities": {"add": ["SETGID",
            "SETUID"]}}'
        - name: RELATED_IMAGE_che_editor_jupyter_plugin_registry_image_IBZWQYJSGU3DUOBTGQZTSYLFHFSWIY3BMEZWCOJXGUZTMNZUGIZTCNLBG44TCMTGHEZWKNBZHFTDIOJYGQ3WIYJQHE2GGNBYGAYDGMLFMFSTIYTBGQ3Q____
          value: index.docker.io/ksmster/che-editor-jupyter@sha256:83439ae9edcaa3a97536742315a7912f93e499f49847da094c480031eae4ba47
        - name: RELATED_IMAGE_dirigible_openshift_plugin_registry_image_IBZWQYJSGU3DUMZTGY2TMMZVMQYWKMBUGAZTMOJXMRSWCMBWG42GEYTCMRRTONBZMM2GEZJSMRRDEOJYGE4GCOJTMI4GKMLFGUZWGM3DGUYTINBRGEZQ____
          value: index.docker.io/dirigiblelabs/dirigible-openshift@sha256:3365635d1e0403697dea0674bbbdc749c4be2db29818a93b8e1e53c3c5144113
        - name: RELATED_IMAGE_eclipse_broadway_plugin_registry_image_IBZWQYJSGU3DUNJXMM4DEY3EHAYDMYJVGZTDMOLBME4DMNRTMY3DQNBQGVSDANZXHBRDMMRYMEZDSYJWGRTGEMJWHA4DCYRRGFRWKOLGGQ4DIZDEME3Q____
          value: index.docker.io/wsskeleton/eclipse-broadway@sha256:57c82cd806a56f69aa8663f68405d0778b628a29a64fb16881b11ce9f484dda7
        - name: RELATED_IMAGE_code_server_plugin_registry_image_IBZWQYJSGU3DUZLGGA3TEOBRGAYDIOJQHFRGEMTDGIZDQNBSGJSGMMTFHE4WCNLCME2WKNBVGBTGGZJXGU2DMYRYMZQTCOBWHA2TEZRSGNRGMNRXGUYQ____
          value: index.docker.io/codercom/code-server@sha256:ef07281004909bb2c228422df2e99a5ba5e450fce7546b8fa186852f23bf6751
        - name: RELATED_IMAGE_universal_developer_image_plugin_registry_image_IBZWQYJSGU3DUOBQMQYDOYJWMI4DKY3EMMZTIZRXGZRTQZRZME2GKYJXMEZGCYZTME2DAOLFGZRGGMJQGRSDGOJTGNSDSN3DGBTDKMLEG5SDANLGGYZQ____
          value: quay.io/devfile/universal-developer-image@sha256:80d07a6b85cdc34f76c8f9a4ea7a2ac3a409e6bc104d3933d97c0f51d7d05f63
        - name: RELATED_IMAGE_che_code_plugin_registry_image_NFXHG2LEMVZHG___
          value: quay.io/che-incubator/che-code@sha256:8e39919c768af14f9d79f24122d3bef48e852224a3b7503192bc336b16b0322c
        - name: RELATED_IMAGE_che_code_plugin_registry_image_IBZWQYJSGU3DUOBSGBRDIOJQGI3TSNZXGU4GKYJTGAYTAZTDG43GCZTEG5SDMNJRMMZGCMTEMEYTOMRYMFSTIYZZME4WMYTBMFQWCMTDMFSGEOJRMZQQ____
          value: quay.io/che-incubator/che-code@sha256:820b4902797758ea3010fc76afd7d651c2a2da1728ae4c9a9fbaaaa2cadb91fa
        - name: RELATED_IMAGE_che_idea_plugin_registry_image_NZSXQ5A_
          value: quay.io/che-incubator/che-idea@sha256:ab1010cff9e34775409894720458728fefd66b41da72dbe3576d23e5b62764b9
        - name: RELATED_IMAGE_che_idea_plugin_registry_image_IBZWQYJSGU3DUODBMFSTMOLEMM2GEMDDGEZDENBZGFQTONJUGAYDMMZZMFTDAZTFHEZGENLFGIYTIYZWMU3DQYLDHE3WGZDBGI4WMYRVHBRDINBRGUYQ____
          value: quay.io/che-incubator/che-idea@sha256:8aae69dc4b0c122491a75400639af0fe92b5e214c6e68ac97cda29fb58b44151
        - name: RELATED_IMAGE_che_pycharm_plugin_registry_image_NZSXQ5A_
          value: quay.io/che-incubator/che-pycharm@sha256:2a4085f72fb8e7a86106061791ec17b54e8e2cc3b6001e5ab19bbff19adf9396
        - name: RELATED_IMAGE_che_pycharm_plugin_registry_image_IBZWQYJSGU3DUN3DGBSTGZLBMJSDMMRUHE2TEMBRMNTDKYTBGBQTSMJTG43TMZBZG4ZGCMLFGZTGEOLDMYYWEY3EMM3TQYLGMNTDIZBXGI2TMYLGGQ3Q____
          value: quay.io/che-incubator/che-pycharm@sha256:7c0e3eabd62495201cf5ba0a913776d972a1e6fb9cf1bcdc78afcf4d7256af47
        - name: RELATED_IMAGE_che_code_devfile_registry_image_NFXHG2LEMVZHG___
          value: quay.io/che-incubator/che-code@sha256:8e39919c768af14f9d79f24122d3bef48e852224a3b7503192bc336b16b0322c
        - name: RELATED_IMAGE_che_code_devfile_registry_image_IBZWQYJSGU3DUOBSGBRDIOJQGI3TSNZXGU4GKYJTGAYTAZTDG43GCZTEG5SDMNJRMMZGCMTEMEYTOMRYMFSTIYZZME4WMYTBMFQWCMTDMFSGEOJRMZQQ____
          value: quay.io/che-incubator/che-code@sha256:820b4902797758ea3010fc76afd7d651c2a2da1728ae4c9a9fbaaaa2cadb91fa
        - name: RELATED_IMAGE_che_idea_devfile_registry_image_NZSXQ5A_
          value: quay.io/che-incubator/che-idea@sha256:ab1010cff9e34775409894720458728fefd66b41da72dbe3576d23e5b62764b9
        - name: RELATED_IMAGE_universal_developer_image_devfile_registry_image_OVRGSOBNNRQXIZLTOQ______
          value: quay.io/devfile/universal-developer-image@sha256:80d07a6b85cdc34f76c8f9a4ea7a2ac3a409e6bc104d3933d97c0f51d7d05f63
        - name: RELATED_IMAGE_universal_developer_image_devfile_registry_image_IBZWQYJSGU3DUOBQMQYDOYJWMI4DKY3EMMZTIZRXGZRTQZRZME2GKYJXMEZGCYZTME2DAOLFGZRGGMJQGRSDGOJTGNSDSN3DGBTDKMLEG5SDANLGGYZQ____
          value: quay.io/devfile/universal-developer-image@sha256:80d07a6b85cdc34f76c8f9a4ea7a2ac3a409e6bc104d3933d97c0f51d7d05f63
        - name: RELATED_IMAGE_che__centos__mongodb_36_centos7_devfile_registry_image_NRQXIZLTOQWWCOJRGVSGEN3CMVRWCOBXGE4TQZTDMQ3TQNRQGA4DMOJYHFTGKODBGMZDOYJRME2GMNRVGA4DAMRVMI3DIYLCGI4GMY3DG42DEM3CGI______
          value: quay.io/eclipse/che--centos--mongodb-36-centos7@sha256:a915db7beca87198fcd7860086989fe8a327a1a4f6508025b64ab28fcc7423b2
        - name: RELATED_IMAGE_che__centos__mongodb_36_centos7_devfile_registry_image_NRQXIZLTOQWWMZTEMYZDIMZRMJRGGNTEHFQTSZBSMEYDGZJZGVRGEYTFHBQWIYRUHFQWEOLFMFRTGMBRMYZDMODBGM2TAMZYMM4DIMRYHAZDKOLDGE______
          value: quay.io/eclipse/che--centos--mongodb-36-centos7@sha256:ffdf2431bbc6d9a9d2a03e95bbbe8adb49ab9eac301f268a35038c84288259c1
        - name: RELATED_IMAGE_che__centos__mysql_57_centos7_devfile_registry_image_NRQXIZLTOQWWKMBYMVSTIZBUGNRDOMZVGY3DANZWHA2WENRZMJSGKNRTGM2WKMRXMNTDEMDDGAZDAZRTGQ2WENTDGZRTKOJUGAYDCOBTHA4DENZWGQ______
          value: quay.io/eclipse/che--centos--mysql-57-centos7@sha256:e08ee4d43b7356607685b69bde6335e27cf20c020f345b6c6c59400183882764
        - name: RELATED_IMAGE_che__mariadb_devfile_registry_image_GEYC4NZOGEWTKYJYGAYDSMZWHFSWKNJXMM4DKYRWMY2GCMBYGQYDMMJUG5RGIOLDGUYDKY3EMU3GEOBSGUYGIMJWMEZDOZBSME2WMZLCMZSGKYLEG4______
          value: quay.io/eclipse/che--mariadb@sha256:5a8009369ee57c85b6f4a08406147bd9c505cde6b8250d16a27d2a5febfdead7
        - name: RELATED_IMAGE_ubi_minimal_devfile_registry_image_
          value: registry.access.redhat.com/ubi8/ubi-minimal@sha256:b93deceb59a58588d5b16429fc47f98920f84740a1f2ed6454e33275f0701b59
        image: quay.io/eclipse/che-operator:7.76.0
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 10
          httpGet:
            path: /healthz
            port: 6789
          initialDelaySeconds: 15
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        name: che-operator
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        - containerPort: 60000
          name: metrics
        readinessProbe:
          failureThreshold: 10
          httpGet:
            path: /readyz
            port: 6789
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: false
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-tls-certs
          readOnly: true
      hostIPC: false
      hostNetwork: false
      hostPID: false
      restartPolicy: Always
      securityContext:
        fsGroup: 1724
        runAsUser: 1724
      serviceAccountName: che-operator
      terminationGracePeriodSeconds: 20
      volumes:
      - name: webhook-tls-certs
        secret:
          defaultMode: 420
          secretName: che-operator-service-cert
