#
# Copyright (c) 2019-2025 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: CODECOV
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  coverage-report:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go 1.23.8
        uses: actions/setup-go@v3
        with:
          go-version: 1.23.8
      - name: Run unit tests
        run: make test
      - name: Build Codecov report
        uses: codecov/codecov-action@v3
        with:
          files: cover.out
