#
#  Copyright (c) 2019-2021 Red Hat, Inc.
#    This program and the accompanying materials are made
#    available under the terms of the Eclipse Public License 2.0
#    which is available at https://www.eclipse.org/legal/epl-2.0/
#
#  SPDX-License-Identifier: EPL-2.0
#
#  Contributors:
#    Red Hat, Inc. - initial API and implementation
#
name: PR validation
on:
  pull_request:
    branches:
      - main
jobs:
  bundle-version:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Install yq
      run: sudo pip install yq
    - name: Set up Go 1.13
      uses: actions/setup-go@v2
      with:
        go-version: 1.13
    - name: Check nightly OLM bundle version
      run: ${GITHUB_WORKSPACE}/.github/bin/check-bundle-version.sh
