#
# Copyright (c) 2019-2023 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: Release next catalog
on:
  # manual trigger if required
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason to trigger a build'
        required: false
  push:
    branches:
      - main
jobs:
  build-operator-image-multiarch:
    runs-on: ubuntu-latest

    outputs:
      git-sha: ${{ steps.git-sha.outputs.sha }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set output for Git short SHA
        id: git-sha
        run: echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to quay.io
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64, linux/arm64, linux/ppc64le, linux/s390x
          tags: |
            quay.io/eclipse/che-operator:next
            quay.io/eclipse/che-operator:sha-${{ steps.git-sha.outputs.sha }}
          file: ./Dockerfile

  build-catalog:
    runs-on: ubuntu-24.04
    needs: build-operator-image-multiarch
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Install yq
        run: sudo pip install yq
      - name: Login to quay.io
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io
      - name: Build catalog source
        run: |
          ${GITHUB_WORKSPACE}/build/scripts/olm/release-catalog.sh \
            --channel next \
            --image-tool docker \
            --multi-arch \
            --catalog-image quay.io/eclipse/eclipse-che-olm-catalog:next

  build-catalog-with-digest:
    runs-on: ubuntu-24.04
    needs: build-catalog
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Install yq
        run: sudo pip install yq
      - name: Login to quay.io
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io
      - name: Build catalog source
        run: |
          ${GITHUB_WORKSPACE}/build/scripts/release/editors-definitions.sh update-manager-yaml \
            --yaml-path ${GITHUB_WORKSPACE}/config/manager/manager.yaml
          ${GITHUB_WORKSPACE}/build/scripts/release/samples.sh update-manager-yaml \
            --yaml-path ${GITHUB_WORKSPACE}/config/manager/manager.yaml \
            --index-json-url "https://raw.githubusercontent.com/eclipse-che/che-dashboard/main/packages/devfile-registry/air-gap/index.json"
          make update-dev-resources
          ${GITHUB_WORKSPACE}/build/scripts/release/addDigests.sh -s $(make csv-path CHANNEL=next) -t next
          ${GITHUB_WORKSPACE}/build/scripts/olm/release-catalog.sh \
            --channel next \
            --image-tool docker \
            --multi-arch \
            --catalog-image quay.io/eclipse/eclipse-che-olm-catalog:next-digest \
            --bundle-image quay.io/eclipse/eclipse-che-olm-bundle:$(make bundle-version CHANNEL=next)-digest
