# This Workflow creates PRs for the release of the latest che-operator to the community operators in OperatorHub
name: Release community operator PRs
on:
  # manual trigger if required
  workflow_dispatch:
    inputs:
      forceflag:
        description: 'To update an existing PR, use -f or --force flag here'
        default: ''
  # trigger on commit to main branch of new CSVs, eg., https://github.com/eclipse-che/che-operator/pull/571/files
  push:
    branches:
      - main
    paths:
      - 'version/version.go'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install operator courier, yq
        run: |
          python -m pip install --upgrade pip
          pip install operator-courier==2.1.7
          pip install yq
      - name: Release community operator PRs
        run: |
          hub version
          git config --global user.name "Mykhailo Kuznietsov"
          git config --global user.email "mkuznets@redhat.com"
          export GITHUB_TOKEN=${{ secrets.CHE_INCUBATOR_BOT_GITHUB_TOKEN }}
          set -e
          OP_SDK_DIR=/opt/operator-sdk
          mkdir -p $OP_SDK_DIR
          make download-operator-sdk OP_SDK_DIR="${OP_SDK_DIR}"
          export PATH="$PATH:$OP_SDK_DIR"
          export QUAY_ECLIPSE_CHE_USERNAME=${{ secrets.QUAY_USERNAME }}
          export QUAY_ECLIPSE_CHE_PASSWORD=${{ secrets.QUAY_PASSWORD }}

          export QUAY_USERNAME_K8S=${{ secrets.QUAY_ECLIPSE_CHE_OPERATOR_KUBERNETES_USERNAME }}
          export QUAY_PASSWORD_K8S=${{ secrets.QUAY_ECLIPSE_CHE_OPERATOR_KUBERNETES_PASSWORD }}
          export QUAY_USERNAME_OS=${{ secrets.QUAY_ECLIPSE_CHE_OPERATOR_OPENSHIFT_USERNAME }}
          export QUAY_PASSWORD_OS=${{ secrets.QUAY_ECLIPSE_CHE_OPERATOR_OPENSHIFT_PASSWORD }}
          ./make-release.sh --prepare-community-operators-update ${{ github.event.inputs.forceflag }}
