#
# Copyright (c) 2019-2025 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: Resources check
on:
  pull_request:
    branches:
      - main
jobs:
  resources-validation:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Install yq
      run: sudo pip install yq
    - name: Set up Go 1.25.5
      uses: actions/setup-go@v3
      with:
        go-version: 1.25.5
    - name: Validate operator resources
      run: |
        go install golang.org/x/tools/cmd/goimports@latest
        ${GITHUB_WORKSPACE}/build/scripts/check-resources.sh
  bundle-version-validation:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Install yq
      run: sudo pip install yq
    - name: Set up Go 1.25.5
      uses: actions/setup-go@v3
      with:
        go-version: 1.25.5
    - name: Validate OLM bundle version
      run: ${GITHUB_WORKSPACE}/build/scripts/check-bundle-version.sh
